.meme-generator__container {
  width: 75%;
  min-width: 550px;
  min-height: 550px;
  max-width: 850px;
  max-height: 850px;
}

.navbar {
  background: linear-gradient(to right,  #672280 0%, #a626d3 35%);
  border: 2px solid red; 
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.navbar__troll-face {
  height: 50px;
  margin-left: 1rem;
}