.page {
  /* border: 2px solid red;  */
  width: 50%;
  height: 75%;
  padding: 1rem;
  max-width: 750px;
  min-width: 550px;
  min-height: 850px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)  ;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navbar {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: #F55A5A;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.navbar__icon {
  width: 24px;
  height: 24px;
}

.journal__article {
  /* border: 2px solid red;  */
  margin: 25px auto;
  width: 90%;
  display: flex; 
  gap: 1rem;
  color: #2B283A;
}

.article__img {
  width: 170px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.header__location-info {
  display: flex;
  align-items: center;
}

.header__div-pin {
  width: 12px;
}

.header__link {
  margin-left: 16px;
  color: #918E9B;
}

.header__location {
  letter-spacing: 3px;
}

.header__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 2em;
}